@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.white {
    color: rgba(247, 247, 247, 1);
}

.sky-blue {
    color: rgba(1, 172, 253, 1);
}

.orange {
    color: rgba(254, 163, 1, 1);
}

.black {
    color: rgba(17, 17, 17, 1);
}

.purple {
    color: rgba(93, 88, 239, 1);
}

.title-2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.title-3 {
    font-weight: 400;
    font-size: 1.4rem;
}

.hide {
    display: none;
}

/* button */
.button-1 {
    background-color: orange;
    color: white;
    width: 160px;
    height: 45px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.button-2 {
    background-color: rgba(17, 17, 17, 1);
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    width: 170px;
    height: 50px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.oval-button {
    border-style: none;
    background-color: orange;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
    font-weight: 500;
}

/* header section */

.nav-bar {
    max-width: 1260px;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

.title {
    font-weight: 800;
    font-size: 2rem;
}

.brand-1 {
    justify-items: center;
    margin-top: 0px;
}

.brand-1>h3 {
    margin-top: 19px;
    padding-left: 8px;
}

ul {
    list-style: none;
    gap: 30px;
    text-align: center;
    margin-top: 23px;
}

/* banner */

.banner {
    max-width: 1200px;
    max-height: 700px;
    margin: 0 auto;
    gap: 50px;
}

.slogan {
    font-weight: 900;
    font-size: 3.4rem;
}

.motto {
    margin-top: 70px;
}


/* curriculam section design */

.standard {
    background-image: url('assets/bg.png');
    /* max-width: 1900px;
    max-height: 1100px; */
    
}

.curriculam-title {
    text-align: center;
    color: black;
    font-size: 2.9rem;
    font-weight: 900;
    margin-top: 100px;
    
}

.curriculam {
    max-width: 1160px;
    max-height: 485px;
    margin: 0 auto;
    gap: 30px;
    margin-top: 40px;

}

.card-1,
.card-2,
.card-3 {
    max-width: 360px;
    max-height: 370px;
    border-radius: 16px;
    padding: 10px;

}   

.title-4 {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
}

.title-5 {
    font-weight: bold;
    font-size: 1.6rem;
}

.title-6 {
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 10px;
}
   
.card-1 {
    background-image: linear-gradient(to top, white , rgba(0, 183, 255, 0.2) )   ;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05) ;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}

.card-2 {
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) , rgba(255, 255, 255, 0)  )   ;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05) ;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}

.card-3 {
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) , rgba(255, 255, 255, 0)  )   ;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05) ;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}

.pointer {
    justify-content: center;
    gap: 10px;
    margin: 80px 0px 65px 0px; 
}

 

/* Our Stories section design */

.main-story-container {
    max-width: 1160px ;
    max-height: 630px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
   
}

.story-container {
    
    display: grid;
    grid-template-columns:repeat(2 , 1fr);
    gap: 20px;
}

.story-box-1 {
    width: 520px;
    height: 620px;
    border: 3px solid rgb(255, 255, 255) ;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.batch-1 {
    background-color:rgba(60, 216, 232, 1) ;
    border-radius: 47px;
    border-style: none;
    color: white ;
    font-size: 0.8rem;
    padding: 8px;
}

.batch-1-1 {
    margin: -20px 0px 0px 15px 
}

.batch-2 {
    background-color: rgba(149, 178, 38, 1);
    border-radius: 47px;
    border-style: none;
    color: white ;
    font-size: 0.8rem;
    padding: 8px;
    margin: -20px 0px 0px 15px;
}

.batch-3 {
    background-color: rgba(93, 88, 240, 1);
    border-radius: 47px;
    border-style: none;
    color: white ;
    font-size: 0.8rem;
    padding: 8px;
    margin: -20px 0px 0px 15px;
}

.story-box {
    width: 290px;
    height: 301px;
    border-radius: 16px;
    font-size: 0.2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1) ;
  
}

.story-box > h5 {
    padding-left: 20px;
}

.main-story-container , img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.our-stories {
   
    background-image: linear-gradient(rgba(255, 255, 255, 0.3),rgba(254, 163, 1, 0.1)), url('assets/bg.png');
    /* max-width: 1900px;
    max-height: 1200px; */
   
}
.story-button {
    display: flex;
    justify-content: center;
    padding: 80px 0px 60px 0px;
}

/* footer section design */

.foot-section {
    background-color:rgba(1, 172, 253, 1) ;
    max-width: 1900px;
    max-height: 1620px;
   
}

.footer-container {
    max-width: 1200px;
    max-height: 400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 120px 0px 150px 0px;
}

#flex {
    display: flex;
}
.foot-title {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
}

.foot-paragraph {
    font-size: 0.9rem;
    color: white;
}

.footer-about >ul> li {
    font-weight: 500;
    font-size: 1rem;
    color: white;
    padding-bottom: 10px;
    text-align: left;
}

.footer-about >ul {
    padding-left: 0px;
}



/* responsive section */

/* Mobile Device */

@media screen and (max-width:576px) {
    .brand-1>h3 {
        display: none;
    }

    .nav>li,
    .button-1 {
        display: none;
    }

    .brand-1>img {
        width: 48px;
        height: 48px;
        padding-left: 12px;
    }

    .nav-bar {
        border: 0.2px solid orange;
        margin-top: 0;
        padding: 14px 20px;
    }

    .size-6 {
        display: block;
        padding-top: 6px;
        padding-right: 21px;
    }

      body {
        margin: 0;
        padding: 0;
    }  

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: 90px;
        gap: 2px;
    }

    .superboy>img {
        max-width: 360px;
        max-height: 440px;

    }

    .motto {
        margin-top: 0;
    }

    .slogan {
        font-weight: 900;
        font-size: 2rem;
    }

    .title-3 {
        font-weight: 500;
        font-size: 1.1rem;
        padding: 0  14px;
    }

    /* curriculam section responsive */

    .curriculam {
        flex-direction: column;
        align-items: center;
        
       
    }

    .card-1,
    .card-3, .read {
        padding-bottom: 20px;
    }

    
    .pointer {
        display: none;
    }

    /* Our Stories section */
     
   
    .story-box-1 {
        display: none;
    }

   .main-story-container {
     flex-direction: column;
   }

   .our-stories {
    margin-top: 960px;
   }

   .story-container {
    grid-template-columns: repeat(2 , 0.1fr);
    align-items: center;
    justify-content: center;
   }

   .story-box {
    max-width: 180px;
    max-height: 220px;
   }

   .story-box , img {
    width: 170px;
   }

   /* footer section responsive */

   .footer-container {
    flex-direction: column ;
    padding-left: 20px;
    padding-top: 45px;
   }

   .foot-section {
    padding-bottom: 110px;
   }

   .in-touch-div > img {
     
    width: 33px;
    height: 33px;
   }

   #flex > img {
    width: 85px;
    height: 85px;
   }

   #flex {
    align-items: center;
   }

   .foot-title {
    font-size: 2.1rem;
    font-weight: bold;
   }

   .footer-about >ul {
    padding-left: 8px;
   }

   .footer-about >ul > li {
    padding-bottom: 20px;
   }

   .in-touch-div > h3 {
    margin-top: 10px;
   }

}